---
layout: default
categories: Interview
---

<div class="container">
<div class="side-nav-placeholder">
  Take It Easy
</div>
<div class="side-nav-container">
  <div class="side-nav">
    <div class="sidebar-header">
      <div class="col-left">
        <h1>Jeffrey<br>Silverstein</h1>
      </div>
      <div class="col-right site-nav">
        <ul>
          <li><a href="#">Writing</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>

    <div class="bio">
      Writer, musician, and teacher currently based in Brooklyn, NY.
    </div>
    <div class="bio">
      He has written for MTV, SPIN, Urban Outfitters, Bandcamp & more. He is also a co-founder of Singles Club, digital music journal & record club. He plays guitar and performs under the name Nassau.
    </div>
    <div class="publications">
      <div class="title">Publication</div>
      {% for tags in site.tags %}
        <a href="/publication/{{ tags | first }}/">{{ tags | first }}</a>
      {% endfor %}
    </div>

    <div class="type">
      <div class="title">Writing Type</div>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a  href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.category }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="page-title-container">
  <div class="title">
    <H1>{{ page.categories }}</h1>
  </div>
</div>
<div class="page-content-container">
   <div class="article-index">
    <ul>
    {% for post in site.categories[page.categories] %}
      {% if post.url %}
          <li>
            <img class="border-random" src="{{ post.thumbnail-image }}">
            <div class="category">{{ post.categories }}</div>
            <a class="title" href="{{ post.external-url }} / {{ post.url }}">{{ post.title }}</a>
            <div class="publication">{{ post.tags }}</div>
          </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
</div>
