---
layout: default
categories: Interview
---

<div class="sidebar-nav">
          <div class="page-title">
  {{ page.categories }}
  </div>
  <div class="sidebar-header">
    <div class="col-left">
      <h1>Jeffrey Silverstein</h1>
    </div>
    <div class="col-right site-nav">
      <ul>
        <li><a href="#">Writing</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
  <div class="sidebar-bio">
    Writer, musician, and teacher currently based in Brooklyn, NY.
  </div>
  <div class="sidebar-bio">
    He has written for MTV, SPIN, Urban Outfitters, Bandcamp & more. He is also a co-founder of Singles Club, digital music journal & record club. He plays guitar and performs under the name Nassau.
  </div>
  <div class="publications">
    <h5>Publication</h5>
    {% for tags in site.tags %}
      <a href="/publication/{{ tags | first }}/">{{ tags | first }}</a>
    {% endfor %}
  </div>

  <div class="type">
    <h5>Writing Type</h5>
    {% for my_page in site.pages %}
      {% if my_page.title %}
        <a  href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.category }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>


<div class="content">

    <div class="article-index">
        <ul>
    {% for post in site.categories[page.categories] %}
      {% if post.url %}
          <li>
            <img src="{{ post.thumbnail-image }}">
            <h2 class="category">{{ post.categories }}</h2>
            <a class="title" href="{{ post.external-url }} / {{ post.url }}">{{ post.title }}</a>
            <h2 class="publication">{{ post.tags }}</h2>
          </li>
      {% endif %}
    {% endfor %}
        </ul>

    </div>
  </div>
