<div class="page-content-container">
   <div class="article-index">
    <ul>
    {% for post in site.categories[page.categories] %}
          <li>
            <img class="border-random" src="{{ post.thumbnail-image }}">
            <div class="category">{{ post.categories }}</div>
          {% if post.external-url %}
            <a class="title" href="{{ post.external-url }}">{{ post.title }}</a>
          {% else %}
            <a class="title" href="{{ post.url }}">{{ post.title }}</a>
          {% endif %}
            <div class="publication">{{ post.tags }}</div>
          </li>
    {% endfor %}
    </ul>
  </div>
</div>
