    <div class="nav-block fade-in">
    <div class="homepage-navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/writing/all.html">All Writing→</a></li>
        <li><a href="https://jeffreysilverstein.bandcamp.com/">Music→</a></li>
        <li><a href="{{ site.baseurl }}/about.html">About→</a></li>
      </ul>
    </div>
    <div class="homepage-publications">
      <div class="title">
        Sort by publication
      </div>
      {% for tags in site.tags %}
        <a class="bold-link" href="{{ site.baseurl }}/publication/{{ tags | first }}/">{{ tags | first }}</a>
      {% endfor %}
    </div>
    <div class="homepage-type">
      <div class="title">
        sort by writing type
      </div>
      <a href="{{ site.baseurl }}/writing/Interview/" class="bold-link">Interview</a>
      <a href="{{ site.baseurl }}/writing/Album Review/" class="bold-link">Album Review</a>
      <a href="{{ site.baseurl }}/writing/Feature/" class="bold-link">Feature</a>
      <a href="{{ site.baseurl }}/writing/Track Review/" class="bold-link">Track Review</a>
<!-- Uncomment once fixed! -->
<!--       {% for my_page in site.pages %}
        {% if my_page.title %}
          <a  href="{{ site.baseurl }}/writing/{{ my_page.category }}/">{{ my_page.category }}</a>
        {% endif %}
      {% endfor %} -->
    </div>
  </div>
