<div class="top-nav no-hover fade-in">
  <a class="no-hover" href="/">
    <div class="title">
      <div class="back-arrow">
      ←
      </div>
      <span class="site-title">Jeffrey Silverstein </span>
    </div>
  </a>
  <div class="social">
    <ul>
      <li><a href="mailto:jeffreylewissilverstein@gmail.com" target="_blank"><img src="/images/email-icon.svg"></a></li>
      <li><a href="https://twitter.com/futuremyth" target="_blank"><img src="/images/twitter-icon.svg" style="margin-left: 1px; margin-bottom: 1px;"></a></li>
      <li><a href="http://instagram.com/jeffreee" target="_blank"><img src="/images/instagram-icon.svg"></a></li>
    </ul>
  </div>
</div>
