<div class="top-nav">
  <a href="{{ site.url }}">
    <div class="title">
      <div class="back-arrow">
      ←
      </div>
      <span class="site-title">Jeffrey Silverstein </span>
    </div>
  </a>
  <div class="social">
    <ul>
      <li><a href="#"><img src="{{ site.url }}/images/email-icon.svg"></a></li>
      <li><a href="#"><img src="{{ site.url }}/images/twitter-icon.svg" style="margin-left: 1px; margin-bottom: 1px;"></a></li>
      <li><a href="{{ site.url }}/about"><img src="{{ site.url }}/images/instagram-icon.svg"></a></li>
    </ul>
  </div>
</div>
