<div class="side-nav-placeholder">
  Take It Easy
</div>
<div class="side-nav-container">
  <div class="side-nav">
    <div class="sidebar-header">
      <div class="col-left">
        <a href="{{ site.url }}"><h1>Jeffrey<br>Silverstein</h1></a>
      </div>
      <div class="col-right site-nav">
        <ul>
          <li><a href="#"><img src="{{ site.url }}/images/email-icon.svg"></a></li>
          <li><a href="#"><img src="{{ site.url }}/images/twitter-icon.svg"></a></li>
          <li><a href="{{ site.url }}/about"><img src="{{ site.url }}/images/instagram-icon.svg"></a></li>
        </ul>
      </div>
    </div>
    <div class="site-nav-horizontal">
      <ul>
        <li><a href="#">Writing</a></li>
        <li>•</li>
        <li><a href="#">Music</a></li>
        <li>•</li>
        <li><a href="{{ site.url }}/about">About</a></li>
      </ul>
    </div>
    {% include _category-nav.html %}
</div>
</div>
