<div class="side-nav-placeholder">
  Take It Easy
</div>
<div class="side-nav-container">
  <div class="side-nav">
    <div class="sidebar-header">
      <div class="col-left">
        <h1>Jeffrey<br>Silverstein</h1>
      </div>
      <div class="col-right site-nav">
        <ul>
          <li><a href="#">Writing</a></li>
          <li><a href="#">Music</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
    {% include _bio.html %}
    {% include _category-nav.html %}
</div>
</div>
