$serif-family: 'Quattrocento', serif;
$sans-serif-family: 'Open Sans', sans-serif;
$sans-cond-family: 'Open Sans Condensed', sans-serif;
$blue: #DEEEFF;
$peach: #FED5B8;
$pink: #F7B5E0;
$gray: #B9AEBC;
$black: #28271F;
$space: 10px;

@mixin serif {
  font-family: $serif-family;
  font-weight: 700;
}

@mixin sans-serif {
  font-family: $sans-serif-family;
  font-weight: 400;
}

@mixin sans-cond {
  font-family: $sans-cond-family;
  font-weight: 700;
}

html {
  @include serif;
  text-rendering: optimizeLegibility;
  color: $black;
}

@mixin title-case {
  text-transform: uppercase;
  letter-spacing: .3em;
}

@mixin h1 {
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 36px;
}

h1, .h1 { @include h1; }

@mixin h2 {
  font-size: 23px;
  letter-spacing: 0em;
  line-height: 32px;
}

h2, .h2 { @include h2; }

@mixin h3 {
  font-size: 18px;
  letter-spacing: 0em;
  line-height: 22px;
}

h3, .h3 { @include h3; }

@mixin h4 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 22px;
}

h4, .h4 { @include h4; }

@mixin h5 {
  font-size: 12px;
  letter-spacing: 0em;
  line-height: 14px;
}

h5, .h5 { @include h5; }

@mixin h6 {
  font-size: 8px;
  letter-spacing: 0em;
  line-height: 10px;
}

h6, .h6 { @include h6; }

a {
  text-decoration: none;
  color: #000000;
}

@mixin navlink {
  a {
    border-bottom: solid black 2px;
  }
  a:hover {
    color: $pink;
    border-bottom: solid $pink 2px;
  }
}

.container {
  width: 100%;
  height: 100%;
}

.side-nav-container, .side-nav-placeholder {
  width: 30%;
  background-color: #FBEEE5;
  float: left;
  height: 100%;
}

.side-nav-container {
  position: fixed;
  .side-nav {
    padding-top: $space*5;
    padding-left: $space*5;
    padding-right: $space*5;
      & .col-left {
        float: left;
        @include h1;
      }
      & .col-right {
        text-align: right;
      ul {
        @include navlink;
        @include h4;
        line-height: 1.5em;
        list-style: none;
      }
  }
  .sidebar-header {
    padding-bottom: $space*4;
  }
  .bio {
    @include h4;
    padding-bottom: $space*2;
  }
    .title {
      @include h5;
      @include title-case;
      @include sans-cond;
      padding-bottom: $space*1;
    }
    .publications, .type {
      @include h4;
      @include sans-serif;
      padding-bottom: $space*3;
      color: $peach;
    }
  }
}

.page-title-container {
  padding-top: 40px;
  width: 10%;
  float: left;
  .title {
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    @include h1;
    color: $peach;
    text-align: left;
    white-space: nowrap;
    direction: rtl;
    text-indent: 58px;
  }
}

.page-content-container {
   width: 60%;
   float: left;
}

.article-index {
  padding-top: $space*5;
  ul {
   list-style: none;
   padding-left: 0;
  }
  li {
    width: 100%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    border-bottom: $blue solid 1px;
    padding-top: $space*3;
    padding-bottom: $space*3;
    *display: inline;
  }
  img {
    max-width: 130px;
    margin-bottom: $space*3;
    border: 3px solid;
  }
  & .title {
    font-size: 32px;
    font-family: $serif-family;
    @include h1;
  }
  & .publication {
    font-size: 16px;
    @include sans-cond;
    padding-top: $space*1;
    @include h4;
  }
  & .category {
    font-size: 12px;
    padding-bottom: $space*1;
    @include sans-cond;
    text-transform: uppercase;
    color: $peach;
    @include h5;
    @include title-case;
  }
}

//Styling for Default Posts

.default-content-container {
  width: 70%;
  float: left;
}

.default-content {
  img {
    width: 100% !important;
    padding-bottom: $space*3;
  }

  h1, h2, h3, h4, h5, h6, a {
    padding-left: $space*3;
    padding-right: $space*3;
    padding-bottom: $space*3;
  }
}
