@import "variables";

$serif-family: 'Argus-Medium', serif;
$serif-family-bold: 'Argus-Extra-Bold', serif;
$sans-serif-family: 'Open Sans', sans-serif;
$sans-cond-family: 'Open Sans Condensed', sans-serif;
$blue: #DEEEFF;
$peach: #FED5B8;
$purple: #ffb6be;
$red: #F95D5E;
$pink: #F7B5E0;
$gray: #e1d8e4;
$black: #20003e;
$space: 10px;

@font-face {
    font-family: 'Argus-Medium';
    src: url(https://dl.dropboxusercontent.com/u/329362103/Argus-RR-Medium.otf);
}

@font-face {
    font-family: 'Argus-Extra-Bold';
    src: url(https://dl.dropboxusercontent.com/u/329362103/Argus-RR-ExtraBold.otf);
}

@mixin serif {
  font-family: $serif-family;
}

@mixin serif-bold {
  font-family: $serif-family-bold;
}

@mixin sans-serif {
  font-family: $sans-serif-family;
  font-weight: 400;
}

@mixin sans-cond {
  font-family: $sans-cond-family;
  font-weight: 700;
}

html {
  @include serif;
  text-rendering: optimizeLegibility;
  color: $black;
}

@mixin title-case {
  text-transform: uppercase;
  letter-spacing: .3em;
}

@mixin no-select {
  user-select: none;
  cursor: default;
}

@mixin h1 {
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 40px;
}

h1, .h1 { @include h1; }

@mixin h2 {
  font-size: 23px;
  letter-spacing: 0.08em;
  line-height: 29px;
}

h2, .h2 { @include h2; }

@mixin h3 {
  font-size: 18px;
  letter-spacing: 0.08em;
  line-height: 22px;
}

h3, .h3 { @include h3; }

@mixin h4 {
  font-size: 15px;
  letter-spacing: .05em;
  line-height: 22px;
}

h4, .h4 { @include h4; }

@mixin h5 {
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 14px;
}

h5, .h5 { @include h5; }

@mixin h6 {
  font-size: 8px;
  letter-spacing: 0em;
  line-height: 10px;
}

h6, .h6 { @include h6; }

@mixin navlink {
  a {
    border-bottom: solid black 2px;
  }
  a:hover {
    color: $pink;
    border-bottom: solid $pink 2px;
  }
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.default-content a {
  letter-spacing: 0.08em;
}

.default-content a:hover {
  color: $gray;
}

a:hover {
    color: $white;
    border-bottom: 2px white solid;
}

.no-hover {
  a:hover {
    color: inherit;
    border-bottom: 0px;
  }
}

.container {
  width: 100%;
  height: 100%;
  background-color: $white;
}

body {
  background-color: $purple;
  }

////////////////////////////////////////////////// Homepage


.homepage-wrapper {
  background-image: url(/uploads/jeff-duo.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  & a:hover {
    color: $white;
    border-bottom: 2px white solid;
  }
  & .content-container {
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
  }
}

.homepage-title {
  @include h1;
  color: $black;
  padding-bottom: $space*4;
  @include serif-bold;
  line-height: .92em;
  letter-spacing: 0.03em !important;
}

.homepage-highlight {
  color: $black;
}

.homepage-bio {
  @include h1;
  color: #ffffff;
  padding-bottom: $space*4;
  & .paragraph {
    padding-top: $space*2;
  }
}

.nav-block {
  display: inline-block;
  width: 100%;
}

.homepage-navigation {
  width: 30%;
  float: left;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    @include h1;
    @include serif-bold;
    line-height: 50px;
  }
}

.homepage-publications {
  width: 35%;
  float: right;
}

.homepage-type {
  width: 35%;
  float: right;
}

.homepage-type, .homepage-publications {
    & .title {
    padding-bottom: $space*1;
    @include sans-cond;
    text-transform: uppercase;
    @include h5;
    @include title-case;
    color: $white;
  }
    & a {
    @include sans-serif;
    @include h4;
    margin-right: 20px;
    white-space: nowrap;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .homepage-navigation, .homepage-publications, .homepage-type {
    width: 100%;
    padding-bottom: $space*4;
  }
  .homepage-wrapper {
    height: 100%;
  }
}

.footer {
  padding-right: 15%;
  padding-left: 15%;
  padding-bottom: $space*4;
  background-color: $purple;
  & .nav-block {
    margin-top: $space*4;
    }
}

////////////////////////////////////////////////// Top Nav

.top-nav {
  width: 100%;
  min-height: 30px;
  z-index: 1;
  padding-top: $space*1;
  position: fixed;
  padding-bottom: $space*1;
  & .title {
    width: 60%;
    display: inline-block;
    margin-top: 4px;
    color: $gray;
    @include serif-bold;
    padding-left: $space*2;
    @include h3;
    letter-spacing: .04em;
    & .back-arrow {
      float: left;
      padding-right: $space*1;
    }
  }
  & .social {
    width: 35%;
    display: inline-block;
    float: right;
    text-align: right;
    margin-top: 6px;
    li {
        display: inline-block;
        margin-right: 6px;
        img {
          height: 20px;
        }
      }
    ul {
      padding-right: $space*2;
      margin-bottom: 0 !important;
    }
  }
}

////////////////////////////////////////////////// Post Listings

.content-container {
  max-width: 960px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: $space*10;
  padding-left: 5% !important;
    padding-right: 5% !important;
}

.category-title {
  color: $purple;
}

.page-title {
  @include h1;
  color: $black;
  padding-bottom: $space*4;
  @include serif-bold;
  line-height: .92em;
  letter-spacing: 0.03em !important;
}

@media screen and (max-width: $breakpoint-sm) {
  .content-container {
    padding-top: 100px;
  }
}

.article-index {
  ul {
   list-style: none;
   padding-left: 0;
  }
  li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    padding-top: $space*3;
    padding-bottom: $space*3;
    *display: inline;
    & .category {
      a {
        color: $purple;
      }
    }
    & .publication {
      a {
        color: $purple;
        letter-spacing: 1.08px;
      }
    }
  }
  img {
    max-width: 130px;
    margin-bottom: $space*3;
    border: 3px solid;
    display: none;
  }
  & .title {
    @include h1;
  }
  & a:hover {
    color: $gray;
  }
  & .publication {
    font-size: 16px;
    @include sans-cond;
    padding-top: $space*1;
    @include h4;
  }
}
  .category {
    font-size: 12px;
    padding-bottom: $space*1;
    @include sans-cond;
    text-transform: uppercase;
    @include h5;
    @include title-case;
  }

.article-index {
  li {
    width: 100%;
    border-bottom: $blue solid 1px;
  }
}

////////////////////////////////////////////////// Default Pages

.default-content-container {
  width: 100%;
  float: left;
  background-color: $white;
  padding-bottom: $space*4;
  padding-top: $space*10;
}

.default-content {
  img {
    width: 100% !important;
    padding-bottom: $space*3;
  }

  h1, h2, h3, h4, h5, h6, a {
    padding-left: $space*3;
    padding-right: $space*3;
    padding-bottom: $space*3;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}


////////////////////////////////////////////////// Archived Posts

.archived-post {
  padding-top: $space*3;

  .article-title {
    @include h1;
    padding-bottom: $space*1;
  }
  .category {
    padding-bottom: $space*1;
    a {
      color: $peach;
      }
  }
  .source {
    @include h4;
    color: $gray;
    @include sans-serif;
    font-style: italic;
    padding-bottom: $space*3;
  }
  p {
    padding-bottom: $space*3;
    @include h2;
    line-height: 32px;
    letter-spacing: .03em;
  }
  img {
    width: 100%;
    border: solid 6px;
    margin-bottom: $space*3;
  }
  iframe {
    margin-bottom: $space*3;
  }
}
