@import "variables";

$serif-family: 'Quattrocento', serif;
$sans-serif-family: 'Open Sans', sans-serif;
$sans-cond-family: 'Open Sans Condensed', sans-serif;

@mixin serif {
  font-family: $serif-family;
  font-weight: 700;
}

@mixin sans-serif {
  font-family: $sans-serif-family;
  font-weight: 400;
}

@mixin sans-cond {
  font-family: $sans-cond-family;
  font-weight: 700;
}


a {
  text-decoration: none;
  color: #000000;
}

.sidebar-nav {
  width: 30%;
  max-width: 500px;
  height: 100%;
  background-color: #FBEEE5;
  z-index: 100;
  position: fixed;
  padding: 2rem;
  & .col-left {
    float: left;
  }
  & .col-right {
    text-align: right;
    ul {
      list-style: none;
    }
  }
}

.page-title {
  color: #ffffff;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  transform:rotate(-90deg);
  ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  float: left;
  position: fixed;
  margin-left: 32%;
  margin-top: 50px;
  max-padding: 500px;
  font-size: 24px;
  @include serif;
}

.content {
  height: 100%;
  background-color: #ff0022;
  padding-left: 25%;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-bio {
  font-size: 16px;
  line-height: 22px;
}


.article-index-home {
  li {
    width: 500px;
  }
}

.article-index {
  ul {
   list-style: none;
  }
  li {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 20%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    border-bottom: black solid 1px;
    *display: inline;
  }
  li:empty {
    display: none;
  }
  img {
    max-width: 130px;
  }
  & .title {
    font-size: 32px;
    font-family: $serif-family;
  }
  & .publication {
    font-size: 16px;
    @include sans-cond;
  }
  & .category {
    font-size: 12px;
    @include sans-cond;
    text-transform: uppercase;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .page-title {
    margin-left: 27%;
  }
  .content {
    padding-left: 20%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .page-title {
    margin-left: 37%;
  }
  .article-index {
    li {
      padding-left: 40%;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .sidebar-nav {
    display: none;
  }
  .content {
    padding-left: 0;
  }
  .article-index {
    li, ul {
      padding-left: 0;
    }
  }
}
