---
layout: core
---

{% include _side-bar.html %}
{% include _page-title.html %}
<div class="page-content-container">
<div class="article-index">
<ul>
<!-- {% if page.category_root %}
	{% include taxonomy_sort.html source=site.categories %}
	{% for taxonomy in sortedtaxonomies %}
		<h2><a href="{{ page.url | prepend: base_url | replace: "/index.html", "" | append: "/" | replace: "//", "/" }}{{ taxonomy }}/">{{ taxonomy }}</a></h2>
	{% endfor %}
{% else %} -->
	{% assign catpages = site.categories[page.category] | sort: 'date' %}
	{% for post in catpages %}
	    {% include _article-listing.html %}
	{% endfor %}
{% endif %}
</ul>
</div>
</div>
