---
layout: core
---

<div class="top-nav">
  <a href="{{ site.url }}">
    <div class="title">
      <div class="back-arrow">
      ←
      </div>
      <span class="site-title">Jeffrey Silverstein </span><span class="page-category"> {{ page.category }} </span>
    </div>
  </a>
  <div class="social">
    <ul>
      <li><a href="#"><img src="{{ site.url }}/images/email-icon.svg"></a></li>
      <li><a href="#"><img src="{{ site.url }}/images/twitter-icon.svg"></a></li>
      <li><a href="{{ site.url }}/about"><img src="{{ site.url }}/images/instagram-icon.svg"></a></li>
    </ul>
  </div>
</div>

{% include _page-title.html %}
<div class="page-content-container">
<div class="article-index">
<ul>
<!-- {% if page.category_root %}
	{% include taxonomy_sort.html source=site.categories %}
	{% for taxonomy in sortedtaxonomies %}
		<h2><a href="{{ page.url | prepend: base_url | replace: "/index.html", "" | append: "/" | replace: "//", "/" }}{{ taxonomy }}/">{{ taxonomy }}</a></h2>
	{% endfor %}
{% else %} -->
	{% assign catpages = site.categories[page.category] | sort: 'date' %}
	{% for post in catpages %}
	    {% include _article-listing.html %}
	{% endfor %}
{% endif %}
</ul>
</div>
</div>
