---
layout: core
---

{% include _side-bar.html %}
<div class="page-title-container">
    <div class="title">
      Archived Article
    </div>
</div>
<div class="page-content-container">
<div class="archived-post">
<div class="category"><a href="{{ site.baseurl }}/writing/{{ page.categories }}/">{{ page.categories }}</a></div>
<div class="article-title">{{ page.title }}</div>
<div class="source">This article originally appeared on {{ page.tags }}</div>
<img class="border-random" src="{{ page.thumbnail-image }}">
{{ content }}
</div>
</div>
